@CHARSET "UTF-8";

div {
	display: block;
}

.col {
	position: relative;
	padding: 5px 10px;
}

.col {
	float: left;
}

.col {
	width: 66.66666667%;
}

.thumbnail {
	display: block;
	line-height: 1.42857143;
  	background-color: #fff;
  	border: 1px solid #ddd;
  	border-radius: 4px;
  	-webkit-transition: border .2s ease-in-out;
       -o-transition: border .2s ease-in-out;
          transition: border .2s ease-in-out;
}

.thumbnail > img,
.thumbnail a > img {
  	margin-right: auto;
  	margin-left: auto;
}